.header-element {
    height: 10vh;
    width: 100%;
    border-style: solid;
    border-color: rgb(222, 87, 153);
    border-radius: 1%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    font-weight: bold;
    border-width: 5px;
}

.main-container {
    border-style: solid;
    border-color: blueviolet;
    height: 90vh;
    width: 100%;
    border-width: 5px 3px 5px 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.aside-container {
    width: 25%;
    border-style: solid;
    border-color: rgb(171, 195, 18);
    border-width: 3px;
}

.api-container {
    width: 75%;
    border-style: solid;
    border-color: rgb(139, 13, 32);
    border-width: 3px;
}

.search-bar-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    gap: 0%;
}

.search-bar-container label {
    font-size: 120%
}

.search-bar-container .search-bar-input {
    width: 83%;
    height: 20%;
}

.search-bar-container .search-button {
    padding: 1.5%;
    font-size: 120%;
    border-radius: 20%;
}

.search-history-container {
    display: flex;
    flex-direction: column;
    padding-top: 4%;
    align-items: center;
}

.search-history-container .search-history-text {
    font-weight: bold;
    font-size: 120%;
}

.search-history-container li {}

.todays-date {
    line-height: 2;
    font-size: 120%;

}

.todays-weather-container {
    display: flex;
    flex-direction: column;
    height: 25vh;

    flex-wrap: wrap;
}

.todays-weather-container .todays-date {
    padding: 1.5%;
    height: 30vh;
    width: 30%;
    border-right-style: solid;
    border-width: 2px;
    font-size: 110%;
}

.todays-weather-container .todays-weather-content {
    height: 30vh;
    width: 70%;
    padding: 1.5%;
    font-size: 110%;
    display: flex;
    flex-direction: row;

}

.todays-weather-content ul {
    max-width:50%}

.todays-weather-content li {
    line-height: 1.5;
    margin-left: 2%;
    font-size: 80%;
    
}

.todays-weather-content img {
    float: right;
    
    width: fit-content;
    height: fit-content;
}

.five-day-forecast-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 65vh;
    padding: 1%;
}

.five-day-forecast-container .five-day-forecast-title {
    font-size: 100%;
    height: 100%;
    width: 10%;
    border-right-style: solid;
    border-width: 1px;
}

.five-day-forecast-content {
    width: 90%;
    height: 100%;
}

#five-day-forecast-ul-element {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.five-day-forecast-listcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 45%;
    height: 40%;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(235, 221, 201);
    margin: 1%;

}

.five-day-forecast-span {
    font-size: 100%;
}

.five-day-forecast-icon {
    width: 30%;
    height: 45%;
}